<h1>
<%= @group.name %>
</h1>
  <%= render partial: "show_practices", locals: { practices: @group.practices, allow_change: true} %>
  <%= button_to "Delete", @group, method: :delete, class: "btn btn-primary btn-lg btn-block" %>
  <%= button_to "Edit", edit_group_path(@group),method: :get, class: "btn btn-primary btn-lg btn-block" %>
  <%= button_to 'Add Practice', new_practice_path, method: :get, class: "btn btn-primary btn-lg btn-block" %>
  <%= button_to 'Back', groups_path %>

