<h1>Sign up!</h1>
<div>
  <%= form_with(model: @user, local: true) do |f| %>
    <%= f.file_field :image %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.submit "Create my account" %>
  <% end %>
</div>
