<h1>Sign up!</h1>
<%= form_with(model: @user, local: true) do |f| %>
  <div class="form-group">
    <div class="field">
    <span class="picture">
      <%= f.file_field :image %>
    </span>
    </div>
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control" %>
    <%= f.submit "Create my account" %>
  </div>
<% end %>
<p>If you already have account, please <%= link_to 'Login', login_path %></p>
