<div class="row align-items-center">
  <div class="col-md-6">
    <div class="text-center">
      <%= image_tag(@user.image) if @user.image.attached? %>
      <h1 class="display-2">
        <%= @user.username %>
      </h1>
      <div class="container">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col">Group name</th>
            <th scope="col">Practice name</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <% @user.practices.each do |practice| %>
            <% practice.groups.each do |group| %>
              <td><%= group.name %></td>
              <% end %>
            <td><%= practice.name %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div>
        <h4>
          <%= link_to "All Group Practices", practices_path %>
        </h4>
        <h4>
          <%= link_to "All Individual practices", not_group_path %>
        </h4>
        <h4>
          <%= link_to "All Groups", groups_path %>
        </h4>
        <h4>
          <%= link_to "All Users", users_path %>
        </h4>
      </div>
    </div>
  </div>
</div>

