<table>
  <thead>
  <th>name</th>
  <th>time</th>
  <th>date</th>
  </thead>
  <tbody>
  <td>
    <% @practice_not_group.each do |practice| %>
      <%= link_to "#{practice.name}", practice %>
      </td>
      <td>
        <%= practice.hours %>h
      </td>
      <td>
        <%= practice.created_at.strftime("%Y-%m-%d").downcase %>
      </td>
    <% end %>
    </tbody>
</table>
<%= button_to 'Scheduale Practice', new_practice_path, method: :get, class: 'btn btn-primary' %>
<%= button_to 'back', current_user, method: :get, class: 'btn btn-primary' %>