<% if logged_in? %>
  <aside class="side-bar">
    <div class="user_info">
      <h1 class="logo"> Coach </h1>
        <%= image_tag current_user.image, class: "profile"%>
        <h2 class="username"><%= current_user.username %></h2>
    </div>

    <nav class="nav-bar">
      <ul>
        <li>
          <%= form_tag(search_page_path, :method => "get",
                              class: 'navbar-form navbar-left') do %>
            <div class="input-group">
              <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
              <div class="input-group-btn">
                <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
              </div>
            </div>
          <% end %>
        </li>
        <li>
            <%= link_to 'All Group Practices', practices_path %>
        </li>
        <li>
            <%= link_to 'All Individual Practices', not_group_path %>
        </li>
        <li>
            <%= link_to ' Groups', groups_path %>
        </li>
        <li>
            <%= link_to 'Coaches', users_path %>
        </li>
        <li>
            <%= link_to "Profile", user_path(current_user) %>
        </li>
        <li>
            <%= link_to "Log out", logout_path, method: :delete %>
        </li>

      </ul>
    </nav>
  </aside>
<% end %>